.contactUs {
    background-color: #c55533;
}
 .contactUs-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 8px;
    color: rgb(250, 248, 248);
}
.contactUs .contactUs-list a{
    color: rgb(250, 248, 248);
    padding: 16px;
    
}