.ChatPage .btn-secondary {
    border-radius: 0.2;
    background-color: #489fb5!important;
    width: 30rem!important;
    border-color: #a3d0da!important;
}

.ChatPage .container {
    max-width: 90%!important;
}
